* {
    padding: 0;
    margin: 0;
}

.head {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    color: #263057;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    padding: 25px;
}


.btn1 {
    width: 180px;
    height: 45px;
    background-color: #6984F0;
    border: none;
    color: white;
    border-radius: 24px;

}

.btn2 {
    width: 180px;
    height: 45px;
    background-color: #263057;
    border: none;
    color: white;
    border-radius: 24px;
}

.card1 {
    width: 100%;
    height: 70vh;
    background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1_inner {
    width: 80%;
    height: 60vh;
    border: 1px solid red;
    background-color: white;
    border-radius: 12px;
    display: flex;
}

.card1_inner_left {
    width: 50%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card1_inner_right {
    width: 50%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title1 {
    margin-bottom: 5px;
    color: #263057;
}

.p1 {
    color: black;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 3px;
}

.btn3 {
    width: 180px;
    height: 45px;
    background-color: #6984F0;
    border: none;
    color: white;
    border-radius: 24px;
}

.card2_title {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #1D1444;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card2_inner {
    width: 90%;
    height: 80vh;
    /* border: 1px solid red; */
    border-radius: 12px;
    box-shadow: 0px 0px 2px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card2_inner1,
.card2_inner2,
.card2_inner3,
.card2_inner4,
.card2_inner5 {
    width: 19%;
    height: 60vh;

    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b1 {
    padding: 5px;
    color: #1D1444;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p1,
.p2 {
    padding: 5px;
    color: #1D1444;
}

.mb {
    padding: 5px;
    color: #263057;
}

.card2_inner3 {
    background: linear-gradient(180deg, #273158 0%, #0C244D 100%);
    color: white;
    border-radius: 16px;
}

.b11,
.p11,
.p22,
.mb1 {
    color: white;
    padding: 8px;
}

.btn22 {
    width: 180px;
    height: 45px;
    background-color: #6984F0;
    border: none;
    color: white;
    border-radius: 24px;
    margin: 8px;
}

.card3 {
    width: 90%;
    height: 35vh;
    background-color: #0C244D;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_card3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
    font-size: 36px;
}


.inp1 {
    width: 300px;
    height: 32px;
    border-radius: 12px;
    outline: none;
    padding: 5px;
    margin-left: 50px;
}

.inp2 {
    width: 300px;
    height: 32px;
    border-radius: 12px;
    outline: none;
    padding: 5px;
}


.card4 {
    width: 90%;
    height: 60vh;
    /* border: 4px solid red; */
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.card4_left {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card4_right {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #0C244D;
    font-size: 26px;
}

.card4_inner {
    display: flex;
    justify-content: space-evenly;
}

.card4_title {
    padding: 5px;
    text-align: center;
}


/*footer*/
footer {
    background: linear-gradient(136deg, #263057 25.34%, #1D1444 89.06%);
    height: 60vh;
    padding-left: 101px;
    padding-top: 101px;
    padding-right: 175px;
}

.alljimi {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.textjm1 p {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leftjm {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 100px;
}

.b2 {
    width: 206px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid #6984F0;
    background: #6984F0;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.b3 {
    width: 178px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 60px;
    background: #FFF;
    border: none;
    color: #263057;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.btnjm {
    display: flex;
    gap: 20px;
}

.s h1 {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    /* 25.2px */
}

.s p {
    color: #949292;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.s {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    padding-top: 34px;
}

.icons {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.down {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    align-items: start;
}

.down p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    opacity: 0.5;
}

#lk {
    width: 670px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    opacity: 0.5;
}